* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 0.5rem;
    background-color: black;
    min-height: 10vh;
}

section {
    min-height: 10vh;
}

main {
    min-height: 70vh;
}

nav {
    display: flex;
}

nav img {
    width: 10rem;
    height: 3rem;
    padding-left: 2rem;
}

#button {
    padding-right: 2rem;
    gap: 1rem;
    align-items: center;
}


.subtitle {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: hsl(0, 4%, 72%);
}

.subtitle img {
    width: 2rem;
    height: 2rem;
}

form {
    padding: 2rem;
    margin: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(235, 231, 235);
}

main {
    padding: 2rem;
    padding-top: 0;
    margin: 2rem;
    margin-top: 0.5rem;
}

table {
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
    border: solid grey;
}

td,
th {
    width: 100%;
}

td {
    width: 20rem;
    height: 2.5rem;
}

.contenedor form {
    display: inline-block;
    background-color: white;
    justify-content: space-evenly;
}

.fotocard {
    height: 10rem;
    object-fit: cover;
}


.contain {
    justify-content: center;
    gap: 1rem;
}

.card {
    text-align: center;
}

.card3 {
    display: flex;
    justify-content: space-around;
}

.det_img img{
    object-fit: cover;
    height: 100%;
}

.card_det{
    padding: 1rem;
    background-color: rgb(232, 222, 222);
    border: 5px solid rgb(134, 132, 132);
}

.cont_det{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
}

footer {
    background-color: rgb(208, 201, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 1rem;
}

.ftext {
    position: absolute;
    left: 75%;
}

.iconos img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

@media (max-width:750px) {
    form {
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #contact {
        padding: 1.5rem;
        margin: 1.5rem;
    }
}

@media (max-width:600px) {
    form {
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #contact {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .iconos img {
        margin-left: 1rem;
    }
    .details_card {
        max-width: 450px;
    }
}

@media (max-width:500px) {
    main {
        padding: 1rem;
        margin: 1rem;
    }
    .details_card {
        max-width: 400px;
    }
}