* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 0.5rem;
    background-color: black;
    min-height: 10vh;
}

main {
    padding: 2rem;
    padding-top: 0;
    margin: 2rem;
    margin-top: 0.5rem;
    min-height: 70vh;
}

/* navbar */

nav {
    display: flex;
}

nav img {
    width: 10rem;
    height: 3rem;
    padding-left: 2rem;
}

#button {
    padding-right: 2rem;
    gap: 1rem;
    align-items: center;
}

/* titulo_pagina */

.subtitle {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: hsl(0, 4%, 72%);
}

.subtitle img {
    width: 2rem;
    height: 2rem;
}

section {
    min-height: 10vh;
}

/* checkbox */

.checkbox input {
    margin-left: 1rem;
}

/* formulario */

#checkbox {
    padding-top: 2rem;
    justify-content: center;
}

.contenedor #checkbox {
    display: inline-block;
    background-color: #d70666;
}

#buscador {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: #d70666;
}

/* tabla */

.tableS {
    padding-top: 1rem;
}

thead {
    background-color: #d70666;
}

table {
    justify-content: center;
    margin: 0;
    border: solid grey;
}

.table-secondary {
    font-weight: bolder;
}

tr .th {
    justify-content: center;
    width: 100%;
}

td {
    width: 20%;
}

/* cards events */

.fotocard {
    height: 10rem;
    object-fit: cover;
}

.contain {
    padding-top: 2rem;
    justify-content: center;
    gap: 1rem;
}

.card {
    text-align: center;
    box-shadow: 10px 10px 5px;
}

.card3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

/* card details */

#cont_det {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.det_img img {
    object-fit: cover;
    height: 100%;
}

.card_det {
    padding: 1rem;
    background-color: rgb(232, 222, 222);
    border: 5px solid rgb(134, 132, 132);
    box-shadow: 20px 20px 15px;
}

/* footer */

footer {
    background-color: rgb(208, 201, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 1rem;
}

.ftext {
    position: absolute;
    left: 75%;
}

.iconos img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

@media (max-width:990px) {
    .nav-item .btn {
        width: 20rem;
    }
}

@media (max-width:750px) {
    form {
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #contact {
        padding: 1.5rem;
        margin: 1.5rem;
    }
}

@media (max-width:600px) {
    form {
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #contact {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .iconos img {
        margin-left: 1rem;
    }
}

@media (max-width:500px) {
    main {
        padding: 1rem;
        margin: 1rem;
    }

    .nav-item .btn {
        width: 15rem;
    }

    tr .th {
        width: 10%;
    }
    td {
        width: 10%;
    }
}